<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-solid">
      <div class="card-header">
        <h3 class="subtitle-up"> Excel Upload Details </h3>
      </div>
      <div class="card-body">
        <span class="help-block"> Find excel file to upload. Please ensure file extension ends with '.xls' </span>
        <%= simple_form_for @registry, multipart: true, url: :store_front_module_received_stock_transfer_registries do |f| %>
          <%= f.input :spreadsheet, label: false %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
          <div class="card-footer">
            <%= f.submit "Upload Received Stock Transfer", class: "btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
