<div class="tab-pane active" id="employee-info">
  <div class="content">
    <% if current_user.proprietor? %>
      <%= link_to 'Update Info', edit_user_path(@employee), class: "btn btn-warning btn-sm" %>
      <%= link_to 'Withdraw Capital', new_capital_withdrawal_path, class: "btn btn-warning btn-sm" %>
    <% end %>
    <hr>
    <div class="row">
      <div class="col-md-3">
          <h4><%= number_to_currency @employee.default_cash_on_hand_account.balance %></h4>
          <small> CASH ON HAND</small>
          <% if current_user.proprietor? %>
            <%=link_to "New Remittance", new_employee_remittance_path(@employee), class: "btn btn-success btn-sm" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
