<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-danger">
      <div class="card-header bg-red">
        <h3 class="subtitle-up"> Customer Account Merging </h3>
      </div>
      <div class="card-body">
        <%= simple_form_for @merging, url: :customer_account_mergings do |f| %>
          <%= f.input :old_customer_id, collection: Customer.all.map{|a| [a.full_name, a.id] } %>
          <span class="help-block"> The old customer will be merged to the account of the new customer.</span>
          <%= f.input :new_customer_id, collection: Customer.all.map{|a| [a.full_name, a.id] } %>
          <div class="card-footer">
          <%= f.submit "Merge Account", class: "btn btn-danger float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#customers_account_merging_old_customer_id").select2({
      theme: "bootstrap"
    });
    $("#customers_account_merging_new_customer_id").select2({
      theme: "bootstrap"
    });
  });
</script>
