<div class="tab-pane active" id="customer-info">
  <div class="content">
    <%= link_to 'Update Info', edit_customer_path(@customer), class: "btn btn-warning btn-sm" %>
    <%= link_to 'Delete Customer', customer_path(@customer), class: "btn btn-warning btn-sm", method: :delete, data: { confirm_with: "Are you sure you want to delete this customer?" } %>
  </div>
</div>
