<div class="tab-pane active" id="product-info">
  <div class="content">
    Product Info
    <% if current_user.proprietor? %>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning btn-sm" %>
    <% end %>
  </div>
</div>