</div>
</div>
<div class="tab-pane <%= 'active' if current_page?(product_orders_path(@product)) %>" id="product-sales">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                  <th>Date</th>
                	<th>Customer</th>
                  <th>Mode of Payment / Type</th>
                  <th>Discount</th>
                  <th>Total Cost</th>
                  <th> Employee </th>
                </thead>
                <tbody>
                  <% @orders.each do |order| %>
                    <%= link_to store_front_module_sales_order_path(order) do %>
                      <%= render 'store_front_module/orders/partials/header', order: order %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <center><%== pagy_bootstrap_nav(@pagy) %></center>

</div>
