<h3><%= @store_front.name %> Inventory</h3>

<%= link_to 'Excel', store_front_module_store_front_inventories_path(@store_front, format: 'xlsx') %>
<div class="container">
  <div class="container-fluid">
    <div class="box box-solid">
      <div class="box-body">
      </div>
    </div>
  </div>
</div>
