<h3><%= @store_front.name %> Inventory</h3>

<%= link_to 'Excel', store_front_module_store_front_inventories_path(store_front_id: @store_front.id, format: 'xlsx'), class: 'btn btn-outline-primary' %>
<div class="container">
  <div class="container-fluid">
    <div class="card card-solid">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
