87777777777777754=oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooook
   <div class="col-md-12">
      <%= f.submit "Save Customer", class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>