

@import "chosen";

@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

.title-up {
  font-weight: 200 !important;
}

.subtitle-up {
  font-weight: 100 !important;
}
