.title-up {
  font-family: 'montserrat-light-webfont';
  font-weight: 100 !important;
}

.subtitle-up {
  font-family: 'montserrat-light-webfont';

  font-weight: 40 !important;
}

.font-roboto-regular-webfont {
  font-family: "roboto-regular-webfont"
}

.font-montserrat-regular-webfont {
  font-family: "montserrat-regular-webfont"
}

.font-montserrat-light-webfont {
  font-family: "montserrat-light-webfont"
}

$nav-pills-underline-link-active-color: #cccccc !default;
$nav-pills-underline-link-hover-color: #343a40 !default;

$nav-pills-underline-bg:    transparent !default;
$nav-pills-underline-active-bg:    transparent !default;
$nav-pills-underline-hover-bg:    transparent !default;

$nav-pills-underline-border-width:    3px !default;

.nav-pills-underline{
  .nav-link {


    &.active,
    .show > & {
      color: $nav-pills-underline-link-active-color;
      //background-color: $nav-pills-underline-active-bg;

    }
  }

  > li.nav-item {
    > a.nav-link {


      border-bottom-width: $nav-pills-underline-border-width;
      border-bottom-style: solid;
      border-bottom-color: transparent;
    }

    > a.nav-link.active,
    > a.nav-link.active:hover,
    > a.nav-link:hover
    {
      text-decoration: none;

      border-bottom-width: $nav-pills-underline-border-width;
      border-bottom-style: solid;
      border-bottom-color: #343a40;
    }

    // bg
    > a.nav-link.active{
      background-color: $nav-pills-underline-active-bg !important;
      color: #343a40;
    }



    // color
    > a.nav-link.active:hover,
    > a.nav-link:hover
    {
      color: $nav-pills-underline-link-hover-color;
      background-color: $nav-pills-underline-hover-bg !important;

    }

  }



}

.min-margin {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
