.text-black {
  color: #000000;
}
.condensed-text { 
  font-family: 'roboto-condensed-webfont', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.stylish-input-group .input-group-addon{
    background: #F4F3EF !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
  background: #F4F3EF !important;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}