<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-1">
              <%=image_tag(@product.avatar.url(:medium), class: "img-square", height: 50, width: 50) %>
            </div>
            <div class="col-md-9">
              <h4 class="title"><%= @product.name.try(:upcase) %></h4>
              <p class="category"> <%= @product.description %> </p>
            </div>
          </div>
        </div>
        <br>
<div class="tabbable-line">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#info" data-toggle="tab">
              <i class="fa fa-info"></i> Info </a>
            </li>
            <li>
              <a href="#product-sales" data-toggle="tab">
              Sales </a>
            </li>
            <li>
              <a href="#product-stocks" data-toggle="tab">
              Stocks </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="tab_default_1">
              
            </div>
           
               <%=render 'products/partials/stocks' %>
