<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title"> Reports </h4>
          <p class="category"> Generate reports </p>
        </div>
        <div class="content">
          <h4 class="title"> Sales </h4>
          <hr>
          <p class="category"> Daily Sales </p>
          <small>Generate report of sales for this day <%=Time.zone.now.strftime("%B %e, %Y") %></small>
          <hr>
          <p class="category"> Weekly Sales </p>
          <small>Generate report of sales for this day <%=Time.zone.now.strftime("%B %e, %Y") %></small>
          <hr>
           <p class="category"> Monthly Sales </p>
          <small>Generate report of sales for this day <%=Time.zone.now.strftime("%B %e, %Y") %></small>