<footer class="main-footer">
  <div class="pull-right hidden-xs">

    <b><small>Developed by: Von Christian Halip </small></b>
  </div>
  <strong>Copyright &copy; <%=Time.zone.now.year%> <a href="http://facebook.com/itworx">RBB Computers, CellShop and Enterprises</a></strong> Enjoy the rest of your <%= Time.zone.now.strftime("%A") %>, <b><%= current_user.first_name %></b>.
</footer>
